.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  padding: 30px 20px;
  color: white;
  border-right: 1px solid #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;

  transition: opacity 0.2s;
  display: block;
}

.sidebar ul li a:hover {
  opacity: 0.7;
}

.notesWrapper {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}
