.layoutContainer {
  display: flex;
  min-height: calc(100vh - 80px);
  background-color: #ffffff;
}

.blackSidebar {
  width: 280px;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 40px 30px;
  flex-shrink: 0;
}

.blackSidebar h2 {
  font-size: 26px;
  margin-bottom: 25px;
  color: #ffffff;
}

.blackSidebar ul {
  list-style: none;
  padding: 0;
}

.blackSidebar li {
  margin-bottom: 15px;
}

.blackSidebar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.blackSidebar a:hover {
  opacity: 1;
  text-decoration: underline;
}

.mainContent {
  flex-grow: 1;
  padding: 40px;
}
