.layoutContainer {
  display: flex;
  min-height: 100vh;
}

.blackSidebar {
  width: 300px;
  background-color: #1a1a1a; /* Глибокий чорний */
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainContent {
  flex: 1;
  background-color: #ffffff;
  padding: 40px;
}

.createButton {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.createButton:hover {
  background-color: #2563eb;
}
