.layoutContainer {
  display: flex;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.sidebarArea {
  width: 250px;
  min-width: 250px;
  color: white;
  padding: 40px 20px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.contentArea {
  flex: 1;
  background-color: #ffffff;
  border-top-left-radius: 40px;
  padding: 40px;
  margin-top: 15px;
  min-height: calc(100vh - 15px);

  /* ДОДАЙ ЦІ РЯДКИ */
  display: flex;
  flex-direction: column; /* Щоб нотатки були зверху, а пагінація під ними */
}
