.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
}

.formCard {
  background-color: transparent;
  padding: 10px 0;
  border-radius: 0;
  width: 100%;
  max-width: 500px;
  border: none;
}

.title {
  color: #1a1a1a;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.label {
  color: #333;
}
