.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 0;
  margin-bottom: 30px;
  gap: 20px;
  min-height: 60px; 
}

.toolbar > div {
  display: flex;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}
